# Ignorar arquivos gerados pelo TypeScript
dist/

# Ignorar arquivos gerados pelo npm
node_modules/

# Ignorar arquivos de log
*.log

# Ignorar arquivos de configuração de IDEs
.vscode/
.idea/

# Ignorar arquivos de configuração local
.env

# Ignorar arquivos de dependências de testes
coverage/

*.js
